h2 {
    background-color: #607d8b;
    color: #ffffff;
  }
 body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}
.btnLogin
{
width:200px;
height:50px;
background-color:Gary;
color:white;
}